<nav class="navbar navbar-expand-5m bg-primary navbar-dark">
    <ul class="navbar-nav">
        <1i class= "nav-item">
            <a routerLink="customers" routerLinkActive="active" class="nav-link" >Home</a>
        <1i>
         <1i class= "nav-item">
                <a routerLink="create-customers" routerLinkActive="active" class="nav-link" >  Customer onboard </a>
         <1i>
    </ul>
</nav>


<div class="container">
<app-customer-list></app-customer-list>
</div>
<footer class="footer" >
    <span> Capstone Project</span>
</footer>